@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 188 78% 93%;
    --foreground: 224 71% 4%;
    --card: 188 50% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 188 50% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 201 85% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 45 100% 85%;
    --secondary-foreground: 45 100% 25%;
    --muted: 201 85% 88%;
    --muted-foreground: 201 30% 40%;
    --accent: 45 100% 85%;
    --accent-foreground: 45 100% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 201 85% 80%;
    --input: 201 85% 88%;
    --ring: 201 85% 73%;
    --chart-1: 201 85% 73%;
    --chart-2: 45 100% 85%;
    --chart-3: 10 78% 52%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 201 85% 73%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 188 78% 93%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 201 85% 88%;
    --sidebar-ring: 201 85% 73%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 201 85% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 45 100% 85%;
    --secondary-foreground: 45 100% 25%;
    --muted: 224 71% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 71% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 201 85% 73%;
    --chart-1: 201 85% 73%;
    --chart-2: 45 100% 85%;
    --chart-3: 10 78% 52%;
    --chart-4: 173 58% 39%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 201 85% 73%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 8%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 201 85% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
